
@font-face {
	font-family: 'TTLakes';
	src: url('../fonts/TTLakes-Medium.eot');
	src: local('☺'), url('../fonts/TTLakes-Medium.woff') format('woff'), url('../fonts/TTLakes-Medium.ttf') format('truetype'), url('../fonts/TTLakes-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'TTLakes';
    src: url('../fonts/TTLakes-Regular.eot');
	src: local('☺'), url('../fonts/TTLakes-Regular.woff') format('woff'), url('../fonts/TTLakes-Regular.ttf') format('truetype'), url('../fonts/TTLakes-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'TTLakes';
    src: url('../fonts/TTLakes-Bold.eot');
	src: local('☺'), url('../fonts/TTLakes-Bold.woff') format('woff'), url('../fonts/TTLakes-Bold.ttf') format('truetype'), url('../fonts/TTLakes-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

body{

    display: block;
    margin: 0%;
    background-color: #F8F8F8;
    position: relative;
    height: auto;
}

main{
    padding: 0;
    margin: 0 ;
}

.communicate-status-buttons>span{
    display: flex;
    width: auto;
    margin: 0;
    align-items: center;
}

h1>pre{
    color:#1B1C21;
    font-family: 'TTLakes';
    font-weight: 700;
    border-left: 4px solid #41F6D7;
    padding-left: 16px;
    text-align: start;
}

.services-line{    
    height: 40px;
    width: 759.67px;    
}

article.services{
  font-family: 'TTLakes';
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

article.services button, .services__reviews button{
    display:flex;
    height: 40px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #F8F8F8;
    box-sizing: border-box;
    margin-right: 16px;
}



article.services button:focus, 
article.services button:hover,
.services__reviews button:focus,
.services__reviews button:hover{
    align-items: center;
    border: 1px solid #41F6D7;
    background-color: #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
}

article.services button:checked, 
article.services button:active,
.services__reviews button:checked,
.services__reviews button:active{
    align-items: center;
    border: 1px solid #41F6D7;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 10px 5px 5px darkgray;
    box-sizing: border-box;
}

.services__reviews button{
    margin-left: 16px;
    display: flex;

    
}

header{    
    height: 86px;
    width: 100%;
    display: block;
    background-color: #ffffff; 
    border-bottom: 1px solid #41F6D7;   
}

header>article{
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.communicate-status-buttons{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.nav-buttons{
    display: flex;
    padding: 8px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.status-buttons>pre{
    display: none;
}

.menu{
    padding: 8px;
}

.nav-buttons__logo{
    padding-left: 8px;    
    padding-right: 8px;
}

.divider{
    margin: 8px;
    width: 2px;
    background-color: #EAEAEA;
    height: 32px;
    display: none;
}
.about-us span{
    padding-left: 24px;
    padding-right: 24px;
    justify-content: flex-start;
    font-family: 'TTLakes';
    font-weight: 400;
}

.comunnicate-buttons{
    display: none;
    background-color: #ffffff;   
}

.status-buttons{
    padding-left: 16px;
    padding-right: 16px;
    width: 96px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.services-line{
    width: 100%;
}
.services-line__scroll{
overflow-x: auto;
overflow-y: hidden;
-ms-overflow-style: none;
scrollbar-width: none;
position:sticky;
display: flex;
flex-wrap: nowrap;
}
.services-line__scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

pre{
    font-family: 'TTLakes';
    font-weight: 400;
    text-align: center;
    padding: 8px;
}

main{ 
    color:#1B1C21;
    font-family: 'TTLakes';
    font-weight: 400; 
    display: flex;
    margin-top: 151px;
    flex-direction: column;
    flex-wrap: wrap;
}

main p{
margin-top: 0;
 }

.about-us__read-next{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 22px;
    padding-left: 24px;
    align-items: center;

}

.about-us__read-next>p{
   
    font-family: 'TTLakes';
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

@media (max-width:549px){

    .nav-buttons>div.divider:nth-of-type(2){
        display: block;
    }
    .communicate-status-buttons .divider{
        display: none;
    }
    .about-us__img{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about-us__img>img{
        width: 100%;
    }

    main.about-us {
        margin-top: 180px;
        align-items: center;
    }
    h1>.title{
        margin-bottom: 20px;
    }

    .services__reviews button{
    margin-left:-16px;
    margin-right: 16px;
    }
}

@media only screen
and (min-device-width:550px)
and (max-device-width:1099px){
    div.services__brends{
        display: none;
    }
    .comunnicate-buttons{
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        width: 152px;
        align-items: center;
        justify-content: space-between;
    }
    div.divider:nth-of-type(1),.communicate-status-buttons>div.divider{
        display: block;
    }
    main.about-us{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-top: 180px;
        margin-right: 32px;
        margin-left: 16px;
    }

    main.about-us>span{
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
    }

    h1>.title{
        margin-bottom: 20px;
    }
    
    .services__reviews button{
        margin-left:-16px;
        margin-right: 16px;
        }
}

@media (min-width:1100px){

    .communicate-status-buttons {
        justify-content: space-between;
    }
    .comunnicate-buttons{
        display: none;
        padding-left: 16px;
        padding-right: 16px;
        width: 152px;
        justify-content: flex-end;
        }
    .status-buttons{
        width: auto;
        align-items: center;
    }
    .nav-buttons{
        display: none;        
    }
    body>header{
        background-color: #F8F8F8;
        display: flex;  
        height: 179px;  
        border: 0;  
        flex-wrap: wrap;           
    }

    .status-buttons>pre{
        align-items: center;
        padding: 8px;
        display: block;
    }

    body>header>article{
        order: 1;
        width: 50%;
        justify-content: flex-end;
    }

    header>h1>pre.title{ 
        order: -1;
        font-weight: 700;
        margin: 0;    
    }

    h1{
        width: 50%;
    }

    nav{
        width: 100%;
        order: 3;
    }

    main.about-us{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top:60px;
        margin-right: 32px;
        margin-left: 16px;
        flex-wrap: wrap; 
        max-height: 400px; 
    }

    .about-us__img{
        display: flex;
        height: 300px;
        flex-direction: column;
    } 

    main.about-us>span{
        
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: space-between;
    }

    div.services-line>.services-line__scroll{
        display:block;
        height: auto;
        width: 100%;
        overflow: visible;
    }

    div.services-line{
        height: auto;  
      
    }

    article.services{
        overflow-x: visible;
       display: flex;
       width: auto;
       flex-wrap: nowrap;
    }

    article.services>div{
     width: fit-content;    
    }

    article.services>div>button{  
        flex-grow:1;    
     padding: 0; 
    }

    article.services:last-child{
    flex-grow:1;
    }
} 


/*Всплывающее меню*/




/*aside-bar style*/


.aside-bar {
	display: flex;
	background-color:#fff;
	box-shadow: #454f7e1a 20px 0 20px;
	justify-content: space-between;
	align-content: space-between;
	width: 320px;
	flex-direction: column;
	flex-wrap: nowrap;
	box-sizing: border-box;
    min-height: 100vh;
}

.aside-bar__top{
	display: flex;
	justify-content: space-between;
	margin: 19px 24px;
}

button{
	border: none;
	background-color: rgba(256, 256, 256, 0);
    padding: 0;
    margin: 0;
}



.aside-bar__top>.top__logo{
	margin-right: auto;
	margin-left: 16px;
}


.aside-bar__list{
display: flex;
font-family: 'TTLakes';
font-weight: 400;
flex-direction: column;
align-content:space-between;
align-items: flex-start;
margin: 16px 25px 0;

}
.aside-bar__list>button{
	font-family: 'TTLakes';
    font-size: 1em;
	background-color: #fff;
	border: none;
	border-radius: 6px;
	height: 32px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 28px 0px;
	transition: color 0.9s;
	color:#000;
}

section.aside-bar__list button::before{ 
	border-right: 4px solid #41f6d800;
	content: "";
	width: 10px;
	height: 0;
	border-radius: 0 4px 4px 0;
	margin-left: -35px;
	margin-right: 21px;
	transition: border-right 1.5s;
}

section.aside-bar__list button:active::before,
section.aside-bar__list button:hover::before,
section.aside-bar__list button:focus::before,
section.aside-bar__list button:checked::before{
	content: "";
	width: 10px;
	height: 32px;
	border-right: 4px solid #41F6D7;
	border-radius: 0 4px 4px 0;
	margin-left: -35px;
	margin-right: 21px;

}
section.aside-bar__list button:checked,
section.aside-bar__list button:focus{
	border:none;
	color:#7E7E82;
}

.aside-bar__footer{
    display: flex;
	flex-direction: column;
	margin-bottom: 35px;
	margin-left: 26px;
	justify-content: flex-start;
	margin-top: auto;
    flex-wrap: wrap;
}

.aside-bar__footer__contacts{
    width: 152px;
    display: flex;
    justify-content:space-between;
    margin-bottom: -2px;
}

.aside-bar__footer__mail{
    margin: 16px 0 0 0;
	font-family: 'TTLakes';
	font-weight: 400;
}

.aside-bar__footer__phone{
    font-size: 1.45em;
	font-family: 'TTLakes';
	font-weight: 700;
    margin: 16px 0 0 0;
}

.aside-bar__footer__language-change{
	margin-top:40px;
    width: 87px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.aside-bar__footer__language-change>button{
    color: #000;
    font-family: 'TTLakes';
    font-weight: 400;
    font-size: 1em;
    padding: 0;
    margin: 0;
	transition: color 0.5s;
}
.aside-bar__footer__language-change>button:checked,
.aside-bar__footer__language-change>button:focus,
.aside-bar__footer__language-change>button:hover{
    color: #7E7E82;
}



/*  Ремонтируемые бренды  
    выпадающее меню  */


    .brends-list {
      display: flex; 
      justify-content: flex-start; 
      flex-direction: row;
      flex-wrap: wrap;
      height: fit-content;
      background-color: #F8F8F8;
      align-items: flex-start;
      border-top: 1px solid #41F6D7;
    }
    .brends-list__description {
        font-family: 'TTLakes';
        margin: 0 0 16px 0;
        font-weight: 400;
        color: #7E7E82;
        display: flex;
        flex-wrap: wrap;
        text-transform: uppercase;
        height: auto;
        padding:16px 32px;        
        background:linear-gradient(to right, 
        rgba(255, 255, 255, 0),#fff);
        flex-grow: 1;
    }

    .brends-list__button-show-more:checked ~ 
    .brends-list__items {
        display: flex;
        padding:0 32px;
        gap: 16px 32px;       
    
        max-height: 600px;                
    } 

    .brends-list__items {
        display: flex;
        padding:0 32px;
        gap: 16px 32px;
        display: flex;
        flex-wrap: wrap;  
        overflow: hidden;
        
        max-height: 240px;
        transition: all 1s ease-in-out;  
    }

    .brends-list__block {
        height: 72px;
        width: 240px;
        padding: 16px;
        background-color: #fff;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .brends-list__logo {
    }
    .brends-list__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 40px;
        width: 40px; 
        background: #fff;               
    }

    .brends-list__show-all {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 16px 32px;
        width: auto;
        height: 24px ;
        margin: 0;

    }
    .brends-list__button-show-more {
        display: none;
        width: 125px;
        height: 24px;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .brends-list__button-show-more:checked {     
        width: 125px;
        height: 24px;    
        margin: 0;
    }

    .brends-list__show-all-text::after {
        content:'Показать все';
        font-family: 'TTLakes';
        font-size: 1.2em;
        font-weight: 500;
        margin: 0;
        margin-top: -25px;
        margin-left: -16px;
        display: block;
        opacity: 100%;
        transform: translateX(0px);
        transition: opacity 0.3s ease,
        transform 1s ease;
    }

    .brends-list__show-all-text::before {
        content:'Скрыть';
        display: flex;
        font-family: 'TTLakes';
        font-size: 1.2em;
        font-weight: 500;
        margin: 0;
        margin-left: -16px;
        opacity: 0;
        display: block;
        transform: translateX(150px);
        transition: opacity 0.3s ease, 
        transform 1s ease;
    }

    .brends-list__button-show-more:checked ~ 
.brends-list__show-all-text::before{
        display: block;
        transform: translateX(0);
        opacity: 100%;
    }

    .brends-list__button-show-more:checked ~ 
.brends-list__show-all-text::after{
        transform: translateX(150px);
        display: block;
        opacity: 0;
    }

    .brends-list__show-img {
        display: flex;
        height: 24px;
        width: 24px;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 16px 32px 16px 32px;
        transition: all 1s ease;
        transform: rotate(0deg);
       
    }

    .brends-list__button-show-more:checked 
    ~ .brends-list__show-img {
        display: flex;
        transform: rotate(180deg);
        margin: 0;       
        padding: 16px 32px 16px 32px;
       
    }

    .brends-list__show-svg {
        display: block;   
        margin: 0; 
    }
    
    .brends-list__label-check-box {
        content: '';
        background: #000;
        opacity: 0;
        width: 150px;
        height: 64px;
        position: absolute;
        left: 32px;
    }